@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lora", serif;
}

body {
    font-family: "Plus Jakarta Sans", sans-serif;
}
